ADMIN_WEB_PORT=8088
SSL_COMMON_NAME=192.168.124.6
SSL_ALT_NAMES=DNS:localhost,IP:127.0.0.1,IP:192.168.124.6
SSL_CERT_DAYS=3650

GOPROXY=https://goproxy.cn,direct
GOSUMDB=sum.golang.google.cn
APT_MIRROR=mirrors.aliyun.com
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_EXTRA_INDEX_URL=https://download.pytorch.org/whl/cu128

POSTGRES_USER=ipra
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_DB=ipra

JWT_SECRET=change-this-in-production

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=8z8Pr3n4Q9f5GeKM
MINIO_BUCKET=ipra-videos
MINIO_DATA_DIR=/docker-data/minio
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=9001

IPRA_SEED_ADMIN_WORK_ID=admin
IPRA_SEED_ADMIN_NAME=管理员
# 可留空，默认密码为 123
IPRA_SEED_ADMIN_PASSWORD_HASH=

MODEL_DIR=./models
HUMANOMNI_MODEL_PATH=/app/models/humanomni0.5/iic/HumanOmni-0___5B
HF_HOME=/app/models/humanomni0.5/huggingface
BUSINESS_LLM_PROVIDER=transformers_local
BUSINESS_LLM_MODEL=Qwen2.5-3B-Instruct
BUSINESS_LLM_MODEL_PATH=/app/models/business-llm/modelscope/Qwen2.5-3B-Instruct

OCR_IDCARD_API_URL=https://jmsfzsbbd.market.alicloudapi.com/ocr/idcard-enhance
OCR_IDCARD_APP_CODE=
OCR_IDCARD_APP_KEY=
OCR_IDCARD_APP_SECRET=

IFLYTEK_RTASR_APP_ID=
IFLYTEK_RTASR_API_KEY=
IFLYTEK_RTASR_API_SECRET=
IFLYTEK_RTASR_URL=wss://office-api-ast-dx.iflyaisol.com/ast/communicate/v1
IFLYTEK_RTASR_LANGUAGE=autodialect

AI_SERVICE_CORS_ORIGINS=http://localhost:8088,http://127.0.0.1:8088
